In [15]:
import pandas as pd
import numpy as np
import glob
import re
import os

In [28]:
s = "world-happiness-report/2015.csv"
s = re.findall(r'[0-9]+',s)[0]
print(s)

2015

In [36]:
file_names = glob.glob('world-happiness-report/*.csv')
li = []
for filename in file_names:
    temp = pd.read_csv(filename)
    temp["Year"] =  re.findall(r'[0-9]+',filename)[0]
    li.append(temp)
df = pd.concat(li)

/Users/paragpradhan/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  import sys

In [59]:
df.tail()

,Country,Dystopia Residual,Economy (GDP per Capita),Family,Freedom,Generosity,Happiness Rank,Happiness Score,Health (Life Expectancy),Lower Confidence Interval,Region,Standard Error,Trust (Government Corruption),Upper Confidence Interval,Whisker.high,Whisker.low,Year
150,Rwanda,0.540061,0.368746,0.945707,0.581844,0.252756,151,3.471,0.326425,NaN,NaN,NaN,0.455220,NaN,3.543030,3.398970,2017
151,Syria,1.061574,0.777153,0.396103,0.081539,0.493664,152,3.462,0.500533,NaN,NaN,NaN,0.151347,NaN,3.663669,3.260331,2017
152,Tanzania,0.621130,0.511136,1.041990,0.390018,0.354256,153,3.349,0.364509,NaN,NaN,NaN,0.066035,NaN,3.461430,3.236570,2017
153,Burundi,1.683024,0.091623,0.629794,0.059901,0.204435,154,2.905,0.151611,NaN,NaN,NaN,0.084148,NaN,3.074690,2.735310,2017
154,Central African Republic,2.066005,0.000000,0.000000,0.270842,0.280876,155,2.693,0.018773,NaN,NaN,NaN,0.056565,NaN,2.864884,2.521116,2017